body{color:white;
background-color: black;
width: 100vw;
display: flex;
flex-direction: column;
align-content: space-around;}

ul a{text-decoration: none;
display: block;
flex-direction: row;
align-content: center;}

menu li{list-style: none;
    background-color: black;
    color: white;
    padding-left: 2em ;
    padding-right: 2em;    
    }

menu{display: block;
    border-style: solid;
border-color: blue;
padding: 0;
width: 99vw;}

 menu ul{
     padding: 0%;
     display: flex;
     align-items: center;
      border-style: solid;
border-color: yellow;
 }

 ul a{display: block;}

 menu li:hover
{
    background-color: cadetblue;
    text-decoration: underline;
    color: lightgrey;
}
.logo{width: 60%;
margin-right: 5vw;
font-size: 150%;
display: flex;
align-items: center;
}
#one{font-size: 200%;}
.profile-data {display: flex;align-items: center;justify-content:space-around}
.profile-name {padding-left: 1vw;}
.foto {width: 4vh;border-radius: 2vh;}

.menu-item{font-size: 130%;}
.game-foto{width: 100%;
    height: 80%;
    display: block;}
.game-in-list{
    flex-direction: column;
    align-items:center;
      border-style: solid;
      border-color: yellow;
      margin: 4%;
      width: 25%;
      height: 80%;
      }
.main{display: flex;
    flex-direction: column;
    height: 80vh;
    width: 95%;
    border-color: rgb(0, 255, 106);
    border-style: solid;
    background-color: rgb(27, 27, 27);
    margin: 2vw;
    overflow-y: scroll;
    }

    
    
    

.price-and-button{
    display: flex;
    justify-content:space-between;
    align-items:center;
    
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3%;
    margin-top: 2%;
}

.buy-btn {
    display: block;
    height: 100%;width: 100%;
    border-radius: 5%;
    background-color: rgb(45, 153, 45);
    border-style: none;}

    .game-buy-btn{
        display: block;
        height: 100%;width: 20%;
        border-radius: 5%;
        background-color: rgb(45, 153, 45);
        border-style: none;}

.genre{
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

.game-name{
    font-size: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{display: flex;}
footer{display: flex;
    justify-content:space-between;
    padding:  0 5%;
    margin: 2%;
}

section .game-main{display: block;
    
    flex-direction: column;
    align-items:center;
    width: 90%;
    border-color: rgb(0, 255, 106);
    border-style: solid;
    background-color: rgb(27, 27, 27);
    margin: 0;
    }

hr{
margin: 3%;
width: 85%;}

.game-wrapper{border-color: red;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items:center;
width: 90%;}

.game-wrapper .game-foto{width: 100%;}
.game-buy-btn{height: 3em;}
.game-price-and-button{
    width: 40%;
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size: 3em;
}




.modalDialog {
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0);
	z-index: 1;
	
	display: none;
	pointer-events: none; 
}
.modalDialog:target {
	display: block;
	pointer-events: auto;
}

.modalDialog > div {
	width: 300px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: rgb(202, 202, 212);
	
}
.close {
	
	position: fixed;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	z-index:-1;
}

/* .close:hover { background: #00d9ff; } */
.form-p{
    display: flex;
    align-items:center;
      
    justify-content:space-between;
}
.form-p span{
    display: block;
color: black;
}
.form-wrapper{display: flex;
    justify-content:space-between;}

.columns{
     width: 33%;
     
}
