<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    {% block menu %}
    <header>
        <menu>
            <ul>
               <a href="{{ url_for('index') }}"> 
                   <li class="logo">
                       <span id="one">&#9055;</span>  <span id="two">Game store</span> 
                   </li>
               </a> 

               <a href='/'>
                    <li class="menu-item">
                    Games
                    </li>
               </a>

                <a href=#>
                    <li class="menu-item">
                    Community
                    </li>
               </a>

                <a href=#>
                    <li class="menu-item">
                    About
                    </li>
               </a>

                <a href=#>
                    <li class="menu-item">
                    Support
                    </li>
               </a>

               <a href="{{ url_for('test') }}">
                <li class="profile-data">
                    
                <div><img class="foto" src="static\profile-img\author-image1.jpg" alt=""></div>
                <div class="profile-name">name</div>
                </li>
           </a>

               <a href="/cart">
                <li class="cart">
                <i class="fa fa-shopping-cart" ></i>
                </li>
           </a>

           <a href="{{ url_for('index') }}#login">
                <li class="qq">
                    <i class="fa fa-sign-in"></i>
                </li>
            </a>


            </ul>
        </menu>
    </header>
    <div ></div>

    
    {% endblock %}

    {% block main %}

    {% endblock %}

{% block footer %}
    <footer>
        <div class="footer-logo">
            <span id="logo">&#9055;</span>  <span id="logo-text">Game store</span>
        </div>
        <div id="copyrights">Copyrights 2021</div>
    </footer>
    {% endblock %}
</body>
</html>