<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
    <title>Document</title>
</head>
<body>
    {% block menu %}
    <header>
        <menu>
            <ul>
               <a href="{{ url_for('index') }}"> 
                   <li class="logo">
                       <span id="one">&#9055;</span>  <span id="two">Game store</span> 
                   </li>
               </a> 

               <a href='/'>
                    <li class="menu-item">
                    Games
                    </li>
               </a>

                <a href=#>
                    <li class="menu-item">
                    Community
                    </li>
               </a>

                <a href=#>
                    <li class="menu-item">
                    About
                    </li>
               </a>

                <a href="{{ url_for('test') }}">
                    <li class="menu-item">
                    Support
                    </li>
               </a>

               <a href="{{ url_for('profile') }}">
                <li class="profile-data" style="display:{{show_profile}}">
                    
                <div><img class="foto" src="{{ url_for('userava') }}" alt=""></div>
                <div class="profile-name">{{ current_user.first_name }} {{ current_user.last_name }}</div>
                </li>
           </a>

               <a href="/cart">
                <li class="cart">
                <i class="fa fa-shopping-cart" ></i> {{cart_games_amount}}
                </li>
           </a>

           <a href="{{ url_for('index') }}#{{logged}}">
                <li class="qq">
                    <i class="{{ in_or_out }}"></i>
                </li>
            </a>


            </ul>
        </menu>
    </header>
    
    <section class="register">
        <div id="register" class="loginDialog">

            <div>

                <a id="closeregistr" href="#closelogin" title="Close" class="closelogin">x</a>
                <div class="login-internal">
                    <div class="login-internal-span">
                        <span>Please sign up</span>
                    </div>

                    <form id="form_registr" action="{{ url_for('index')}}" method="post">
                        {{ form.hidden_tag() }}

                        <p class="login-p"><span>{{ form.username.label() }}</span> <span>{{ form.username() }}</span></p>

                        <p class="login-p"><span>{{ form.first_name.label() }}</span> <span>{{ form.first_name() }}</span></p>
                        <p class="login-p"><span>{{ form.last_name.label() }}</span> <span>{{ form.last_name() }}</span></p>
                        <p class="login-p"><span>{{ form.password.label() }}</span> <span>{{ form.password() }}</span></p>
                        <p class="login-p"><span>{{ form.confirm_password.label() }}</span> <span>{{ form.confirm_password() }}</span></p>
                        <p class="login-p"><span>{{ form.email.label() }}</span> <span>{{ form.email() }}</span></p>
                        <div class="flash-message">
                        {% with messages = get_flashed_messages() %}
                           {% if messages %}
                                 {% for message in messages %}
                                      <p>{{ message }}</p>
                                 {% endfor %}
                           {% endif %}
                        {% endwith %}

                         <div class="login-internal-sign-in">{{ form.sign_up_submit() }}</div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>


                          <!-- ------------------login------------------- -->
<section class="login">
    <div id="login" class="loginDialog">

        <div>

            <a id="closelogin" href="#closelogin" title="Close" class="closelogin">x</a>
            <div class="login-internal">
                <div class="login-internal-span">
                    <span>Please login</span>
                </div>

                <form id="form_login" action="{{ url_for('index')}}" method="post">
                    {{ form.hidden_tag() }}

                    <p class="login-p"><span>{{ form.login_user_name.label() }}</span> <span>{{ form.login_user_name() }}</span></p>
                    <!-- <span>Error message to do !!!!!</span> -->
                    <p class="login-p"><span>{{ form.login_password.label() }}</span> <span>{{ form.login_password() }}</span></p>

                    <p class="login-p"><span>{{ form.remember_me.label() }}</span> <span>{{ form.remember_me() }}</span></p>

                    <div class="flash-message">
                    {% with messages = get_flashed_messages() %}
                           {% if messages %}
                                 {% for message in messages %}
                                      <p>{{ message }}</p>
                                 {% endfor %}
                           {% endif %}
                        {% endwith %}
                    </div>

                     <div class="login-internal-sign-in">{{ form.login_submit() }}</div>
                    <a href="{{ url_for('index') }}#register">Register</a>
                </form>
            </div>
        </div>

    </div>
</section>

                <!--------------------logout----------------------->

    <section class="login">
    <div id="logout" class="loginDialog">

        <div>

            <a id="closelogout" href="#closelogin" title="Close" class="closelogin">x</a>
            <div class="login-internal">
                <div class="login-internal-span">
                    <span>Are you sure want to logout ?</span>
                </div>

                <form id="form_logout" action="{{ url_for('logout')}}" method="post">
                    {{ form.hidden_tag() }}                    

                     <div class="login-internal-sign-in">{{ form.logout_submit() }}</div>

                </form>
            </div>
        </div>

    </div>
</section>
    {% endblock %}

    {% block main %}

    {% endblock %}

{% block footer %}
    <footer>
        <div class="footer-wrapper">
            <div class="footer-logo">
                <span id="logo">&#9055;</span>  <span id="logo-text">Game store</span>
            </div>
            <div id="copyrights">Copyrights 2021</div>
        </div>    
    </footer>
    {% endblock %}
</body>
</html>