{% extends "base.html" %}
{% block menu %}
{{super()}}

{% endblock %}

{% block main %}
<div>        
    Your cart Total:
</div>
<section class="cart-main">
    {% for game in game_in_cart_list %}
        <div class="cart-item">
            <img class="cart-game-foto" src="{{ url_for('game_image',name=game.name) }}" alt="">
            <div class="cart-item-name-price">
                {{ game.name }} <span>{{ game.price }}</span>
            </div>
            <div class="add-and-sub">
                <form class="cart-form" action="{{ url_for('cart_plus_minus',name=game.name) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.cart_add(value="+", class="cart-form") }}
                    <span class="cart-form">{{ session['cart'][game.name] }}</span>
                    {{ form.cart_sub(value="-", class="cart-form" )}}
                </form>
                <!-- <form id="{{ game.name }}" action="{{ url_for('cart') }}" method="post">                    
                    <span class="submit-">-</span>
                    <span class="submit+">+</span>
                </form> -->
            </div>
            
        </div>
    {% endfor %}
</section>

{% endblock %}

