{% extends "base.html" %}
{% block menu %}
{{super()}}

{% endblock %}

{% block main %}
{{super()}}
    <section class="game-main">
        <div class="game-wrapper">
            
                {% set img = "game-img/" + game.name + ".jpg" %}
                
                    <img class="game-foto" src={{url_for('static', filename=img)}} alt="">
                
                <div class="game-name"> {{game.name}} </div>
                <div class="game-price-and-button">
                    <span>${{game.price}}</span>
                    <button type="submit" class="game-buy-btn">Buy</button>              
                </div>
                 
        </div>
        
        <hr><p>dghjhgjhgj</p>
    </section>
    {% endblock %}



{%block footer%}
{{super()}}
{% endblock %}