{% extends "base.html" %}
{% block menu %}
{{super()}}

{% endblock %}

{% block main %}
{{super()}}
    <section class="game-main">
        <div class="game-wrapper">

                <img class="game-foto" src="{{ url_for('game_image',name=game.name) }}" alt="">
                
                <div class="game-name"> {{game.name}} </div>
                <div class="game-price-and-button">
                    <span>${{game.price}}</span>
                    <a href="{{ url_for('add_to_cart', name=game.name)}}" class="add_game">Buy</a>              
                </div>
                 
        </div>
        
        <hr>

        <section class="genres">
            {% for i in game.genre.split() %}
            <span class="genre">{{i}}</span>
            {% endfor %}
        </section>

        <section class="game-description">
            {{game.description}}
        </section>

<div class="add-comment-div">
    <a href="#add_comment" class="add_comment">Add comment ...</a>
</div>
        

        <div id="add_comment" class="modalDialog">
            <div>
                <form action="{{ url_for('game', name=game.name)}}" method="post">
                    {{ form.hidden_tag() }}
                    <a href="{{ url_for('game', name=game.name)}}">X</a>
                    
                    {{ form.comment() }}
                    {{ form.comment_submit() }}
                </form>
            </div>
            
        </div>


 <div class="comment-wrapper">       
    {% for comment in comments %}

        <div class="comments" style="padding-left:{{ comment.number_of_parents * 70 }}px ;">
            
            <div class="author"><img class="foto" src={{url_for("comment_ava", user_id=comment.user_id)}} alt=""> 
                {{comment.author_name}} <span style="padding-left: 1em;">{{ comment.time_left }}</span>
            </div>
            <div class="comment" >
                {{comment.comment}}
               
               
               <div id="comment{{comment.id}}" class="modalDialog" >
                
                <div>
                    
                    <form action="{{ url_for('reply', name=game.name, parent_id=comment.id)}}" method="post">
                        {{ form.hidden_tag() }}

                        <a href="{{ url_for('game', name=game.name)}}">X</a>
                        {% set f = form.comment.process_data(comment.comment) %}
                        {{ form.comment() }}
                        {{ form.comment_submit() }}
                    </form>
                </div>
                
            </div>
               
            </div>
            
            

            <div class="reply">
             <a href="#comment{{comment.id}}"> reply</a>
            </div>
            
        </div>
    {% endfor %}
</div>

    </section>
    
    {% endblock %}



{%block footer%}
{{super()}}
{% endblock %}