{% extends "base.html" %}
{% block menu %}
{{super()}}  

{% endblock %}


{% block main %}

<section class="main">
                             <!-- !-- ------------------search------------------- -->
<div class="sort">
    <div class="add-genre-search">
        <a href="#openModal" class="add-genre">Sort by genres</a>

        <div id="search-block">
            <i class="fa fa-search" id="glass" onclick="search_for_game()"></i>
            <form id="search" action="{{ url_for('index')}}" method="post">
               {{ form.hidden_tag() }}
                
                {{ form.search() }}
            </form>
        </div>


        </form>
    </div>

                            <!-- !-- ------------------sort  by categories------------------- -->
<div id="openModal" class="modalDialog">
	<div>
		<a id="closeModal" href="#closeModal" title="Close" class="close" onclick="func()"></a>


		<form id="myform" action="{{ url_for('index')}}" method="post">

			{{ form.hidden_tag() }}
			<div class="form-wrapper">
				<div class="columns">
					<p class="form-p"><span>{{ form.strategy.label() }}</span> <span>{{ form.strategy() }}</span></p>
					<p class="form-p"><span>{{ form.adventure.label() }}</span> <span>{{ form.adventure() }}</span></p>
					<p class="form-p"><span>{{ form.action.label() }}</span> <span>{{ form.action() }}</span></p>
				</div>

				<div class="columns">
					<p class="form-p"><span>{{ form.survival.label() }}</span> <span>{{ form.survival() }}</span></p>
					<p class="form-p"><span>{{ form.rpg.label() }}</span> <span>{{ form.rpg() }}</span></p>
					<p class="form-p"><span>{{ form.fps.label() }}</span> <span>{{ form.fps() }}</span></p>
				</div>
			</div>
		</form>

	</div>
   
</div>
 <script>
	function func(){
		document.getElementById('myform').submit();
	}

    function search_for_game(){
        document.getElementById('search').submit();
    }

    function add_game(){
        document.getElementById('add_game').submit();
    }

</script>
                                             <!-- !-- ------------------Add new game------------------- -->
<div class="admin_panel" style="display:{{manager_display}}">    
            
            <a href="{{url_for('users_list')}}"  style="display:{{admin_display}}"class="add_game"><span >Users list</span> </a>
            <a href="{{url_for('customers_list')}}" class="add_game"><span >Customers list</span></a>
            <a href="{{url_for('add_game')}}" class="add_game"><span>Add game</span> </a>
            

</div>



</div>

                                       <!-- ------------------ main section of games------------------ -->
                                       
    {% for wrapper in list_of_games %}

    <div class="wrapper">
        {% for game in wrapper %}
            

                <article class="game-in-list" id={{game.name.replace(' ', '')}}>

                    <a href="{{ url_for('game', name=game.name) }}">
                        <img class="game-foto" src="{{ url_for('game_image',name=game.name) }}" alt="">
                    </a>
                    <div class="price-and-button">
                        <span>${{game.price}}</span>
                                                
                        <form action="{{ url_for('add_to_cart', name=game.name)}}" method='post'>
                            <input type="submit" class="buy-btn" value="Buy">
                            </form>
                    </div>
                    {% for i in game.genre.split() %}
                        <span class="genre">{{i}}</span>
                    {% endfor %}
                    
                    <div class="game-name">{{game.name}}</div>

                    <div class="game-in-list-admin" style="display:{{manager_display}}">
                        <div class="game-in-list-admin-wrapper">
                            <a href="{{url_for('edit_game', name=game.name)}}"><i class="fa fa-edit"></i><span>Edit game</span></a>
                            <a href="{{url_for('hide_game', name=game.name)}}"><i class="fa fa-trash"></i><span>Delete game</span></a>
                        </div>

                    </div>
                </article>
                
            
        {% endfor %}
    </div>
    {% endfor %}
</section>

<section class="main" style="display:{{manager_display}}">
<h1>Hidden games</h1>

{% for i in range(0,length,3) %}

    <div class="wrapper">
        {% for j in range(i,i+3) %}
            {% if hidden_games[j] %}

                <article class="game-in-list" id={{hidden_games[j].name.replace(' ', '')}}>

                    <a href="{{ url_for('game', name=hidden_games[j].name) }}">
                        <img class="game-foto" src="{{ url_for('game_image',name=hidden_games[j].name) }}" alt="">
                    </a>
                    <div class="price-and-button">
                        <span>${{hidden_games[j].price}}</span>
                        
                        <form  method='post'>
                            <input type="submit" class="buy-btn" value="Buy">
                            </form>
                    </div>
                    {% for i in hidden_games[j].genre.split() %}
                        <span class="genre">{{i}}</span>
                    {% endfor %}
                    
                    <div class="game-name">{{hidden_games[j].name}}</div>

                    <div class="game-in-list-admin" style="display:{{manager_display}}">
                        <div class="game-in-list-admin-wrapper">
                            <a href="{{url_for('edit_game', name=hidden_games[j].name)}}"><i class="fa fa-edit"></i><span>Edit game</span></a>
                            <a href="{{url_for('restore_game', name=hidden_games[j].name)}}"><i class="fa fa-trash"></i><span>Restore game</span></a>
                        </div>

                    </div>
                </article>
                
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}

</section>
{% endblock %}


