{% extends "base.html" %}
{% block menu %}
{{super()}}




<section class="main">

    <section class="login">
        <div id="register" class="loginDialog">
            
            <div>
    
                <a id="closeregistr" href="#closelogin" title="Close" class="closelogin">x</a>
                <div class="login-internal">
                    <div class="login-internal-span">
                        <span>Please sign up</span>
                    </div>
                    
                    <form id="form_registr" action="{{ url_for('index')}}" method="post">
                        {{ form.hidden_tag() }}
                        
                        <p class="login-p"><span>{{ form.username.label() }}</span> <span>{{ form.username() }}</span></p>
                        <!-- {% with messages = get_flashed_messages() %}  
                           {% if messages %}  
                                 {% for message in messages %}  
                                      <p>{{ message }}</p>  
                                 {% endfor %}  
                           {% endif %}  
                        {% endwith %}   -->
                        <!-- <span>Error message to do !!!!!</span> -->
                        <p class="login-p"><span>{{ form.first_name.label() }}</span> <span>{{ form.first_name() }}</span></p>
                        <p class="login-p"><span>{{ form.last_name.label() }}</span> <span>{{ form.last_name() }}</span></p>
                        <p class="login-p"><span>{{ form.password.label() }}</span> <span>{{ form.password() }}</span></p>
                        <p class="login-p"><span>{{ form.confirm_password.label() }}</span> <span>{{ form.confirm_password() }}</span></p>
                        <p class="login-p"><span>{{ form.email.label() }}</span> <span>{{ form.email() }}</span></p>
                        <div class="flash-message">
                        {% with messages = get_flashed_messages() %}  
                           {% if messages %}  
                                 {% for message in messages %}  
                                      <p>{{ message }}</p>  
                                 {% endfor %}  
                           {% endif %}  
                        {% endwith %}  

                         <div class="login-internal-sign-in">{{ form.sign_up_submit() }}</div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </section>

    
                          <!-- ------------------login------------------- -->
<section class="login">
    <div id="login" class="loginDialog">
        
        <div>

            <a id="closelogin" href="#closelogin" title="Close" class="closelogin">x</a>
            <div class="login-internal">
                <div class="login-internal-span">
                    <span>Please login</span>
                </div>
                
                <form id="form_login" action="{{ url_for('index')}}" method="post">
                    {{ form.hidden_tag() }}
                    
                    <p class="login-p"><span>{{ form.login_user_name.label() }}</span> <span>{{ form.login_user_name() }}</span></p>
                    <!-- <span>Error message to do !!!!!</span> -->
                    <p class="login-p"><span>{{ form.login_password.label() }}</span> <span>{{ form.login_password() }}</span></p>

                    <p class="login-p"><span>{{ form.remember_me.label() }}</span> <span>{{ form.remember_me() }}</span></p>

                    <div class="flash-message">
                    {% with messages = get_flashed_messages() %}  
                           {% if messages %}  
                                 {% for message in messages %}  
                                      <p>{{ message }}</p>  
                                 {% endfor %}  
                           {% endif %}  
                        {% endwith %} 
                    </div>

                     <div class="login-internal-sign-in">{{ form.login_submit() }}</div>
                    <a href="{{ url_for('index') }}#register">Register</a>
                </form>
            </div>
        </div>
        
    </div>
</section>

                             <!-- !-- ------------------sort  by categories------------------- -->
<section class="sort">
    <div class="add-genre-search">
        <a href="#openModal" class="add-genre">+ Add Genre</a>
        
        <div id="search_block">
            <a href="#search" id="glass" onclick="search_for_game()"><i class="fa fa-search"></i>;</a> 
            <form id="search" action="{{ url_for('index')}}" method="post">
               {{ form.hidden_tag() }}
                <p> 
                {{ form.search() }}</p>
            </form>
        </div>
        
        
        </form>
    </div>
<div id="openModal" class="modalDialog">
	<div>
		<a id="closeModal" href="#closeModal" title="Close" class="close" onclick="func()"></a>
		
		
		<form id="myform" action="{{ url_for('index')}}" method="post">
			
			{{ form.hidden_tag() }}
			<div class="form-wrapper">
				<div class="columns">
					<p class="form-p"><span>{{ form.strategy.label() }}</span> <span>{{ form.strategy() }}</span></p>
					<p class="form-p"><span>{{ form.adventure.label() }}</span> <span>{{ form.adventure() }}</span></p>
					<p class="form-p"><span>{{ form.action.label() }}</span> <span>{{ form.action() }}</span></p>
				</div>

				<div class="columns">
					<p class="form-p"><span>{{ form.survival.label() }}</span> <span>{{ form.survival() }}</span></p>
					<p class="form-p"><span>{{ form.rpg.label() }}</span> <span>{{ form.rpg() }}</span></p>
					<p class="form-p"><span>{{ form.fps.label() }}</span> <span>{{ form.fps() }}</span></p>
				</div>
			</div>
		</form>
		
	</div>
</div>

<script>
	function func(){		
		document.getElementById('myform').submit();        
	}

    function search_for_game(){        
        document.getElementById('search').submit();        
    }
    
</script>
</section>

                                       <!-- ------------------ main section of games------------------ -->
    {% for i in range(0,len,3) %}

    <div class="wrapper">
        {% for j in range(i,i+3) %}
            {% if list_of_games[j] %}

                <article class="game-in-list">
                    {% set img = "game-img/" + list_of_games[j].name + ".jpg" %}

                    <a href="{{ url_for('game', game_id=list_of_games[j].id) }}">
                        <img class="game-foto" src={{url_for('static', filename=img)}} alt="">
                    </a>
                    <div class="price-and-button">
                        <span>${{list_of_games[j].price}}</span>
                        
                        <form  method='GET'>
                            <input type="submit" class="buy-btn" value="Buy">
                            </form>
                    </div>
                    <div class="genre">{{list_of_games[j].genre}}</div>
                    <div class="game-name">{{list_of_games[j].name}}</div>
                </article>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}


</section>
{% endblock %}

{% block footer %}
{{super()}}
    {% endblock %}