{% extends "base.html" %}
{% block menu %}
{{super()}}
<a href="#openModal">Open modal window</a>
<!-- <p class="search"><span>{{ form.search.label() }}</span> <span>{{ form.search() }}</span></p> -->
cxzlvkzvlzcx/lkxzk
<div id="openModal" class="modalDialog">
	<div>
		<a id="close" href="#close" title="Close" class="close" onclick="func()"></a>
		
		
		<form id="myform" action="{{ url_for('test')}}" method="post">
			
			{{ form.hidden_tag() }}
			<div class="form-wrapper">
				<div class="columns">
					<p class="form-p"><span>{{ form.strategy.label() }}</span> <span>{{ form.strategy() }}</span></p>
					<p class="form-p"><span>{{ form.adventure.label() }}</span> <span>{{ form.adventure() }}</span></p>
					<p class="form-p"><span>{{ form.action.label() }}</span> <span>{{ form.action() }}</span></p>
				</div>

				<div class="columns">
					<p class="form-p"><span>{{ form.survival.label() }}</span> <span>{{ form.survival() }}</span></p>
					<p class="form-p"><span>{{ form.rpg.label() }}</span> <span>{{ form.rpg() }}</span></p>
					<p class="form-p"><span>{{ form.fps.label() }}</span> <span>{{ form.fps() }}</span></p>
				</div>
			</div>
		</form>
		
	</div>
</div>

<script>
	function func(){		
		document.getElementById('myform').submit();		
	}
</script>

{% endblock %}